<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fZBBT8MwDIX/i8/V1G5lK71xYxeQYIID4uA27mqUNFXi7lL1v+NQQByAm/U5z+/lzeBI
	0KAg1DM4jELhlvjcC9RFXuXZJ3tmI72i660iH5gGQWE/KFoy6HxwKE8U4ooyuKzzceh8
	OtxMbM3d5BoKUENxuLmqyhIhAxzHbxmUOyWx7cnhA114peo3WpRkoU/4/hHUEM3bFMVp
	igj1y/xLABqwsWSgljCRXiURHs4xhaHBnNhRGjuLiaXAaCdF26o47DIQ3ccWrZJ9rglo
	9K1+P1frKBjkT32Z7/9Rq5yNhuaOP4o4BXbwVd/x56b1bqPdWNqMvRcPy+vyDg==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.6</string>
	<key>adjustmentTimestamp</key>
	<date>2019-09-29T02:17:45Z</date>
</dict>
</plist>
